<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.BlogMapper">

<!--    <cache type="org.mybatis.caches.redis.RedisCache"/>-->

    <!-- 使用select关联，自动映射嵌套的author属性 -->
    <!-- 问题： 多执行了一条sql语句，性能稍差 -->
    <resultMap id="blogResultMap" type="blog">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <association property="author" column="authorId" select="selectById"/>
    </resultMap>

    <select id="selectAll" resultMap="blogResultMap">
        select id, title, authorId
        from Blog
    </select>

    <select id="selectById" resultType="author">
        select id, username, password, email, bio
        from Author
        where id = #{id}
    </select>


    <!--使用关联嵌套映射结果，减少sql语句条数-->
    <resultMap id="blogAuthorResultMap" type="blog">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <association property="author" column="authorId" resultMap="authorResult"/>
    </resultMap>
    <resultMap id="authorResult" type="author">
        <id property="id" column="author_id"/>
        <result property="username" column="author_username"/>
        <result property="password" column="author_password" />
        <result property="email" column="author_email" />
        <result property="bio" column="author_bio" />
    </resultMap>
    <select id="selectAllBlogAuthorResultMap" resultMap="blogAuthorResultMap">
        select
               Blog.id,
               Blog.title,
               Author.id as author_id,
               Author.username as author_username,
               Author.password as author_password,
               Author.email as author_email,
               Author.bio as author_bio
        from Blog
        left join Author
        on Blog.authorId = Author.id
    </select>

    <!-- 使用collection进行一对多的select映射 -->
    <resultMap id="blogPostsResultMap" type="blog">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <collection property="posts" column="id" ofType="post" select="selectPostById"/>
    </resultMap>
    <select id="selectPostById" resultType="post">
        select id, subject, body, blog_id
        from Post
        where blog_id = #{id}
    </select>
    <select id="selectBlogPostsResultMap" resultMap="blogPostsResultMap">
        select * from Blog
    </select>

    <!-- 使用collection进行一对多的嵌套映射 -->
    <resultMap id="blogPostsResultMap2" type="Blog">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <collection property="posts" column="id" ofType="post">
            <id property="id" column="post_id"/>
            <result property="subject" column="post_subject"/>
            <result property="body" column="post_body"/>
            <result property="blogId" column="post_blog_id"/>
        </collection>
    </resultMap>
    <select id="selectBlogPostsResultMap2" resultMap="blogPostsResultMap2">
        select Blog.id,
               Blog.title,
               Post.id as post_id,
               Post.subject as post_subject,
               Post.body as post_body,
               Post.blog_id as post_blog_id
        from Blog
        left join Post
        on Blog.id = Post.blog_id
    </select>

</mapper>